.card {
text-align: center;
width: 220px;
height: 400px;
background-color: aqua;
}
.card h4 {
    margin-top: 5px;
}
p {
    font-size: 14px;
    line-height: 0.4;
}
.card img {
    width: 160px;
    height: 150px;
    margin-top: 20px;
}
.card h2 {
    margin-top: 10px;
}
.card p {
    font-size: 12px;
    line-height: 10px;
}
