* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
}

.header {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    gap: 30px;
    font-size: 12px;
}

.header img {
    margin-right: 50px;
    width: 50px;
    height: 20px;
}

.search {
    position: relative;
}

.search .svg {
    position: absolute;
    width: 11px;
    height: 11px;
    top: 27%;
    right: 7px;
    cursor: pointer;
}

.search input {
    width: 170px;
    padding: 3px 3px;
    font-size: 11px;
}

.hr {
    width: 100%;
    margin-top: 15px;
}

.hr h1 {
    text-align: center;
    margin-top: 30px;
    font-family: Alegreya;
    font-size: 2.5rem;
    font-weight: 700;
}
.hr p {
    text-align: center;
    font-size: 10px;
    margin: 15px 15%;
    font-style: oblique;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}

.card1 {
    background-color: #f2f2f2;
    width: 220px;
    height: 250px;
}

.card1 h2 {
    font-weight: 700;
    font-family: Alegreya;
    text-align: center;
    margin-top: 20px;
}
.card1 .main {
    text-align: center;
    font-style: oblique;
    font-size: 11px;
    margin-top: 10px;
}

.card1 button {
    display: block;
    margin: auto;
    margin-top: 30px;
    font-size: 11px;
    height: 30px;
    width: 160px;
    border-color: 1px solid black;
}

.card1 button:hover {
    border: hidden;
    transition: 0s;
}

.card2 {
    border: 1px solid gray;
    width: 220px;
    height: 250px;
}

.card2 h2 {
    font-weight: 700;
    font-family: Alegreya;
    text-align: center;
    margin-top: 20px;
}
.card2 .main {
    text-align: center;
    font-style: oblique;
    font-size: 11px;
    margin-top: 10px;
}

.card2 button {
    display: block;
    margin: auto;
    margin-top: 30px;
    font-size: 11px;
    height: 30px;
    width: 160px;
    border: none;
    background-color: #b36abb;
    color: white;
}

.card2 button:hover {
    background-color: #A956B2;
    transition: 0s;
}

.card3 {
    background-color: #f2f2f2;
    width: 220px;
    height: 250px;
}

.card3 h2 {
    font-weight: 700;
    font-family: Alegreya;
    text-align: center;
    margin-top: 20px;
}
.card3 .main {
    text-align: center;
    font-style: oblique;
    font-size: 11px;
    margin-top: 10px;
}

.card3 button {
    display: block;
    margin: auto;
    margin-top: 30px;
    font-size: 11px;
    height: 30px;
    width: 160px;
    border-color: 1px solid black;
}

.card3 button:hover {
    border: hidden;
    transition: 0s;
}

ul {
    padding-left: 20px;
    
}
li {
    margin: 0;
    line-height: 1.5;
}
.list {
    margin-top: 30px;
    font-size: 10px;
}